@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?4v9omx') format('truetype'),
    url('../fonts/icomoon.woff?4v9omx') format('woff'),
    url('../fonts/icomoon.svg?4v9omx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], 
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked:before {
  content: "\e909";
}
.icon-analysis:before {
  content: "\e900";
}
.icon-communications:before {
  content: "\e901";
}
.icon-contract:before {
  content: "\e902";
}
.icon-digital:before {
  content: "\e903";
}
.icon-investment:before {
  content: "\e904";
}
.icon-security:before {
  content: "\e905";
}
.icon-setting:before {
  content: "\e906";
}
.icon-strategy:before {
  content: "\e907";
}
.icon-experience:before {
  content: "\e908";
}
