<section class="automation">
  <div class="container">
    <div class="inner-wrapper">
      <div class="text-content">
        <h2 class="title-black">
          Easy to track your revenue
          on a modern AI Automation
        </h2>
        <p class="text">
          Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum.
        </p>
        <div class="row">
          <a href="#" class="btn btn-blue">View more</a>
          <a href="#" class="btn btn-more">More features</a>
        </div>
      </div>
      <img class="feature-img" src="./img/image-1.png" alt="Automation feature">
    </div>
  </div>    
</section>