<section class="benefits">
  <div class="container">
    <h2 class="title-black">
      What makes us different
      <br>
      from other platforms?
    </h2>
    <div class="benefits-box">
      <div class="item">
        <i class="icon icon-contract"></i>
        <h3 class="item-title text-green">Customized Invoices</h3>
        <p class="text text-light-grey">
          Ornare quam viverra o sagittis
          volutpat odio facilisis.
        </p>
      </div>
      <div class="item">
        <i class="icon icon-digital"></i>
        <h3 class="item-title text-blue">Stock Management</h3>
        <p class="text text-light-grey">
          Duis tristique sollicitudin nibh sit amet
          commodo nulla facilisi.
        </p>
      </div>
      <div class="item">
        <i class="icon icon-investment"></i>
        <h3 class="item-title text-pink">Receivable & Payables</h3>
        <p class="text text-light-grey">
          Curabitur gravida arcu ac tore une
          dignissim convallis aen.
        </p>
      </div>
      <div class="item">
        <i class="icon icon-analysis"></i>
        <h3 class="item-title text-blue">Detailed Analytics</h3>
        <p class="text text-light-grey">
          Risus pretium quam vulputate
          dignissim suspendisse.
        </p>
      </div>
      <div class="item">
        <i class="icon icon-security"></i>
        <h3 class="item-title text-pink">Powerful & Secure Backup</h3>
        <p class="text text-light-grey">
          Neque ornare aenean euismod elementum
          eleifend quam adipiscing.
        </p>
      </div>
      <div class="item">
        <i class="icon icon-communications"></i>
        <h3 class="item-title text-green">Message Notification</h3>
        <p class="text text-light-grey">
          Egestas sed tempus urna et phar
          pharetra massa ethssem.
        </p>
      </div>
    </div>
  </div>
</section>