<section class="dashboard">
  <div class="container">
    <div class="inner-wrapper">
      <div class="text-content">
        <h2 class="title-black">
          Choose from two
          <br>
          dashboard versions
        </h2>
        <p class="text">
          Fames ac turpis egestas maecenas. Turpis in eu mi bibendum neu
          egestas congue quisque. Adipiscing bibendum est ultricies integer.
        </p>
        <div class="row">
          <a href="#" class="btn btn-green">Try Now</a>
          <a href="#" class="btn btn-more">More features</a>
        </div>
      </div>
      <div class="images-box">
        <img class="dashboard-black-img" src="./img/dashboard-black.jpg" alt="Black dashboard">
        <img class="dashboard-white-img" src="./img/dashboard-white.jpg" alt="White dashboard">
      </div>
    </div>
  </div>    
</section>