<footer class="footer">
  <div class="container">
    <div class="useful-links">
      <div class="col">
        <a href="#" class="text">Pricing</a>
        <a href="#" class="text">Facebook Integration</a>
        <a href="#" class="text">Applications</a>
        <a href="#" class="text">Affiliate program</a>
        <a href="#" class="text">Business Phone</a>
      </div>
      <div class="col">
        <a href="#" class="text">Resources</a>
        <a href="#" class="text">Blog</a>
        <a href="#" class="text">API Docs</a>
        <a href="#" class="text">Help Center</a>
        <a href="#" class="text">Career</a>
      </div>
      <div class="col">
        <a href="#" class="text">Callback</a>
        <a href="#" class="text">Products</a>
        <a href="#" class="text">Natural Language</a>
        <a href="#" class="text">Computer Vision</a>
      </div>
      <div class="col">
        <a href="#" class="text">Privacy Policy</a>
        <a href="#" class="text">Terms of Service</a>
        <a href="#" class="text">Legal info</a>
      </div>
    </div>
    <div class="copyright">
      <a href="#">
        <img src="./img/logo-white.png" alt="Brand logo">
      </a>
      <p class="text">
        © 2020. All rights reserved. Get 
        <a href="https://hogash.com/downloads/startup-agency-v2-free-psd-template/" class="text-blue">
          Kallyas Wordpress 
          Theme & Zion Builder @zionbuilder.io
        </a>
      </p>
      <div class="social-links">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</footer>