<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a href="#">
        <img src="./img/logo-blue.png" alt="Brand logo">
      </a>
      <nav class="nav-bar">
        <ul class="menu">
          <li>
            <a href="#" class="btn">FaQ</a>
          </li>
          <li>
            <a href="#" class="btn">Pricing</a>
          </li>
          <li>
            <a href="#" class="btn">Team</a>
          </li>
          <li>
            <a href="#" class="btn">Contact</a>
          </li>
          <li>
            <a href="#" class="btn btn-sign-in">Sign in</a>
          </li>
        </ul>
        <div class="burger-menu">
          <span></span>
        </div>
      </nav>
    </div>
  </div>
</header>