<section class="plans">
  <div class="container">
    <div class="pricing">
      <div class="text-content">
        <h2 class="title-black">
          Our flexible pricing plans
          for every person
        </h2>
        <p class="text text-grey">
          Quam viverra orci sagittis eu volutpat odio facilisis mauris sit.
          Sollicitudin aliquam ultrices sagittis orci a scelerisque
          purus semper eget.
        </p>
        <div class="row">
          <a href="#" class="btn btn-blue btn-monthly">Monthly</a>
          <a href="#" class="btn btn-yearly">Yearly</a>
        </div>
      </div>
      <div class="cards">
        <div class="card">
          <p class="price">$59.99 <span>/Mth</span></p>
          <h3 class="item-title">Professional</h3>
          <ul>
            <li>
              Power And Predictive Dialing
            </li>
            <li>
              24/7 phones & email settings
            </li>
            <li>
              Customer Experience
            </li>
          </ul>
          <div class="row">
            <a href="#" class="btn btn-grey btn-buy">Buy</a>
          </div>
        </div>
        <div class="card">
          <p class="price">$29.99 <span>/Mth</span></p>
          <h3 class="item-title">Advanced</h3>
          <ul>
            <li>
              Power And Predictive Dialing
            </li>
            <li>
              24/7 phones & email settings
            </li>
            <li>
              Customer Experience
            </li>
          </ul>
          <div class="row">
            <a href="#" class="btn btn-grey btn-buy">Buy</a>
          </div>
        </div>
      </div>
    </div>
    <div class="feedback">
      <h4 class="title">
        What customers say about us
      </h4>
      <div class="reviews">
        <blockquote class="blockquote">
          <p class="comment">
            “ Viverra nam libero justo laoreet sit amet cursus sit. Netus et malesuada
            fames ac turpis. Maecenas accumsan lacus vel facilisis volutpat est.
            Enim nulla aliquet porttitor lacus luctus accumsan tortor. “
          </p>
          <cite class="author">Juan Tomas Philip</cite>
        </blockquote>
        <blockquote class="blockquote">
          <p class="comment">
            “ Sed felis eget velit aliquet sagittis id. Tincidunt augue interdum
              velit euismod in. Adipiscing elit duis tristique sollicitudin nibh sit.
              Massa placerat duis ultricies lacus sed turpis. “
          </p>
          <cite class="author">Oswald Andrew Fred</cite>
        </blockquote>
      </div>
    </div>
  </div>
</section>