<section class="reward">
  <div class="container">
    <div class="reward-container">
      <img src="./img/image-2.png" alt="Reward points">
      <div class="text-content">
        <h2 class="title-white">
          AI Element based on
          <br>
          Reward Points
        </h2>
        <p class="text text-white">
          Auctor urna nunc id cursus metus aliquam. Leo integer malesuada
          nunc vel risus commodo. Dolor sit amet consectetur adipiscing
          elit ut aliquam purus maecenas volutpat blandit. 
        </p>
        <div class="row">
          <a href="#" class="btn btn-pink">View more</a>
        </div>
      </div>
    </div>
  </div>
</section>