<section class="solution">
  <div class="container">
    <h2 class="title-black">
      Finally a technology solution
      <br>
      for all of your management needs
    </h2>
    <div class="cards">
      <div class="card">
        <i class="card-icon icon-setting"></i>
        <h3 class="item-title">Faster Enrollments</h3>
        <p class="text">
          Risus pretium quam vulputate
          dignissim suspendisse.
        </p>
        <a href="#" class="btn">Learn more</a>
      </div>
      <div class="card">
        <i class="card-icon icon-experience"></i>
        <h3 class="item-title">Easy to use platform</h3>
        <p class="text">
          Vulputate odio ut enim blandit
          at maecenas volutpat.
        </p>
        <a href="#" class="btn">Learn more</a>
      </div>
      <div class="card">
        <i class="card-icon icon-strategy"></i>
        <h3 class="item-title">Detailed tutorials</h3>
        <p class="text">
          Curabitur gravida arcu ac tore
          dignissim convallis aen.
        </p>
        <a href="#" class="btn">Learn more</a>
      </div>
    </div>
  </div>
</section>