<section class="support">
  <div class="container">
    <div class="support-container">
      <div class="items">
        <img src="./img/support-img.jpg" alt="Support">
        <div class="item">
          <div class="image-box">
            <i class="icon-checked icon-blue"></i>
          </div>
          <div class="text-box">
            <h3 class="item-title text-blue">Support 24/7</h3>
            <p class="text">Cursus eget nunc sceler</p>
          </div>
        </div>
        <div class="item">
          <div class="image-box">
            <i class="icon-checked icon-green"></i>
          </div>
          <div class="text-box">
            <h3 class="item-title text-green">Dedicated platform</h3>
            <p class="text">Nisl suscipit adipiscing</p>
          </div>
        </div>
        <div class="item">
          <div class="image-box">
            <i class="icon-checked icon-pink"></i>
          </div>
          <div class="text-box">
            <h3 class="item-title text-pink">Professional staff</h3>
            <p class="text">Quam nulla porttitor mae</p>
          </div>
        </div>
      </div>
      <div class="text-content">
        <h2 class="title-black">
          Easy to connect with
          <br>
          our support team
        </h2>
        <p class="text text-grey">
          Nullam non nisi est sit. Id interdum velit laoreet id donec.
          Quis imperdiet massa tincidunt nunc pulvinar sapien et
          ligula. Varius sit amet mattis vulputate enim nulla.
        </p>
        <div class="row">
          <a href="#" class="btn btn-blue">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>